.dot*
.git-*
.gtk*
.env
.dmrc
.vim/.netrwhist
.vim/plugged
.bash_logout
.bash_history
.steam*
.yarn*
.feh*
.viminfo
.viminf[a-z].tmp
.config/redshift/redshift.conf
.config/mpd/database
.config/mpd/log
.config/mpd/state
.emacs.d/*
.emacs.d/elpa/
.emacs.d/eln-cache/
.emacs.d/auto-save-list/
tmux.json

!.emacs.d/init.el
!.emacs.d/custom.el
!.emacs.d/doom.png
