*.swp
*.swo
*.log
*.bak
.[xX]*
.git-*
.gtk*
.env
.dmrc
.vim/.netrwhist
.bash_*
.steam*
.yarn*
.feh*
.config/*
.config/mpd/database
.config/mpd/log
.config/mpd/state
.pulse-cookie
.viminfo
.viminf[a-z].tmp
*/

!.gitmodules
!.gitconfig
!.gitignore
!.bashrc
!.zshrc
!.tmux.conf
!.vimrc
!.vim/
!.vim/bundle
!.vim/bundle/*
!.vim/autoload/
!.vim/colors/
!.config/
!.local/
!.local/bin/
!.config/alacritty/
!.config/dunst/
!.config/fish/
!.config/i3/
!.config/kitty/
!.config/mpd/
!.config/mpv/
!.config/nvim/
!.config/picom/
!.config/rofi/
!.config/waybar/
!.config/yazi/
!.config/starship.toml
!.config/wlogout/
!.config/gtk-4.0/

!LICENSE
!rosepine.json

!lib/
!Music/
