$red: #ff383c;
$orange: #ff9230;
$green: #30d158;
$teal: #00d2e0;
$mint: #00dac3;
$yellow: #ffd600;
$blue: #0091ff;
$purple: #dc34f2;
$violet: #6a5dff;
$cyan: #3cd3fe;
$brown: #b78a66;
$foreground: #e0e0e0;
$gray: #8e8e93;
$gray2: #636366;
$gray3: #48484a;
$gray4: #3a3a3c;
$gray5: #2c2c2e;
$gray6: #1c1c1e;
$green: #30d158;

$base03: $gray6;
$base01: $gray2;
$base0: $foreground;
$base1: $foreground;
$accent: $foreground;
