.modules-right {
  margin-right: 8px;

  #pulseaudio,
  #tray,
  #custom-weather,
  #custom-powermenu {
    margin: 0px 5px;
    padding: 2px 8px;
    border-radius: 7px;
    background-color: $base03;
  }

  #custom-powermenu {
    color: $base1;
    padding: 2px 16px 2px 12px;
  }
}
