.modules-left {
  margin-left: 8px;

  #custom-logo,
  #workspaces,
  #window,
  #mpd {
    margin: 0px 5px;
    padding: 2px 8px;
    border-radius: 7px;
  }

  #custom-logo {
    color: $base1;
    font-size: 20px;
    padding: 2px 12px 2px 8px;
    /* padding: 2px 8px; */

    &:hover {
      color: $base03;
      background-color: $base0;
    }
  }

  #workspaces {
    button {
      color: $base01;
      margin: 0px 5px;
      transition: color 800ms;

      &:hover,
      &.active {
        color: $accent;
        background: none;
        font-size: 16px;
      }
    }
  }
}
