@import "colors";
@import "modules-left";
@import "modules-center";
@import "modules-right";

* {
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
}

#waybar {
  background-color: rgba(0, 0, 0, 0.5);
  color: $base0;
  font-size: 14px;
  font-family: "Montserrat Regular";
}

tooltip * {
  background: transparent;
}

tooltip.background {
  background: $base03;
}
