
* {
    bg-col: #16161e;
    bg-col-light: #16161e;
    border-col: #15161e;
    selected-col: #292e42;
    blue: #7dcfff;
    fg-col: #c0caf5;
    fg-col2: #c0caf5;
    purple: #9d7cd8;
    grey: #565c64;
    width: 600;
}
