* {
    bg-col:  #1c1c1e;
    bg-col-light: #3a3a3c;
    border-col: #1c1c1e;
    selected-col: #0091ff;
    blue: #0091ff;
    fg-col: #8e8e93;
    fg-col2: #E0E0E0;
    grey: #48484a;


    margin:     0;
    padding:    0;
    spacing:    0;
}
