* {
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
}

#waybar {
  background: rgba(26, 27, 38, 0.95);
  color: #eeeeef;
  font-size: 14px;
  font-family: "Hack Nerd Font";
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces button {
  padding: 0 5px;
  color: #eeeeef;
  background: none;
}
/* Fix: active workspace doesn't show up */
/* #workspaces button.focused { */
#workspaces button.active {
  color: #bb9af7;
}

#custom-powermenu,
#cpu,
#custom-weather,
#temperature,
#memory,
#workspaces,
#custom-changebg,
#clock,
#window,
#pulseaudio,
#tray,
#network {
  padding: 4px 8px;
  background-color: #292e42;
  border-radius: 30px;
  margin: 6px 4px;
}

#window {
  color: #929db1;
}

#custom-powermenu {
  color: #e06c75;
  padding-right: 11px;
}

#pulseaudio {
  color: #1abc9c;
  padding-right: 14px;
}

#cpu {
  color: #7aa2f7;
}

#temperature {
  color: #9ece6a;
}

#memory {
  color: #ff9e64;
}

#network {
  color: #9d7cd8;
  min-width: 200px;
}

#clock {
  color: #fff;
  /* opacity: 0.7; */
  /* font-size: 18px; */
}
