window#waybar {
  background: rgba(34, 33, 44, 0.5);
  border-radius: 0;
}

.modules-left {
  margin-left: 10px;
}

.modules-right {
  margin-right: 10px;
}

#custom-launch_wofi {
  color: rgba(248, 248, 242, 1);
}

button:hover {
  background: inherit;
}

#workspaces button {
  color: rgba(248, 248, 242, 0.5);
  transition: color 1s ease-in;
}

#workspaces button.active {
  color: rgba(248, 248, 242, 1);
}

#workspaces button.focused {
  color: rgba(248, 248, 242, 1);
}

#workspace button.urgent {
  color: rgba(149, 128, 255, 1);
}

#pulseaudio {
  color: rgba(248, 248, 242, 1);
}

#pulseaudio.muted {
  color: rgba(248, 248, 242, 0.5);
}

#taskbar button {
  background: transparent;
  transition: background 1s linear;
}

#taskbar button.active {
  background: rgba(248, 248, 242, 0.3);
}
